body{
margin: 0 auto;
background-image: linear-gradient( 180deg,  rgba(21,13,107,1) 1.1%, rgba(188,16,80,1) 130.5% );
}

.nav-wrapper
{
  max-width: 1100px;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8));
  margin: auto;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 20px;:
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky .nav-wrapper
{
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8));
  max-width: 1100px;
  margin: auto;
  position: relative;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sticky .nav-wrapper ul li a
{

  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: Audiowide;
  border-bottom: :1px solid transparent;
}

.nav-wrapper ul li
{
  display: inline-block;
  padding:0 10px;
  margin-bottom: 1px;
}


.nav-wrapper ul li a
{
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: Audiowide;
  border-bottom: :1px solid transparent;

}

.nav-wrapper ul li a:hover
{
  border-bottom: 1px solid #ffffff;
  color: #D4AF37;
}


.wrapper
{
  max-width: 1100px;
  width: 100%;
  margin: auto;

}


header
{
  background-color: transparent;
  width: 100%;
  position:relative;
}

header .logo img{
  max-width: 80px;
}

header.sticky
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  background-color: transparent;
  transition: 0.2s;
  z-index: 5;
}

body.scroll header.sticky{
  transform: translateY(0);
}


h1
{
  font-family: Merienda one;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}

h1.sub-title::after
{

  display: block;
  height: 2px;
  background-color: white;
  content: "";
  width: 100px;
  margin: 30px auto 0 auto;
}





.card
{
  float: left;
  width: 50%;
  text-align: center;
  background-image: radial-gradient( circle farthest-corner at -14.3% -17.5%,  rgba(245,168,168,1) 4%, rgba(164,168,248,1) 100.2% );
  font-size: 25px;
  font-weight: 300;
  color: black;
  display: inline-block;
  box-shadow: 5px 5px 5px 2px grey;
  border-radius: 25px;
  margin: 30px 10px 30px 350px;
  padding: 50px 5px 50px 5px;
}


.card:hover
{
  background:transparent;
  color: white;
  box-shadow: 0px 0px 0px 0px;
    transition: 1s;
}

.card img{
  width: 250px;
  height: 40vh;
  padding: 15px;
  border-radius: 25px;
}

h2
{
  font-size: 45px;
  line-height: 30px;
  font-family: Sriracha;
}

.card a
{

  font-size: 25px;
  background-image: linear-gradient( 111.3deg,  rgba(74,105,187,1) 9.6%, rgba(205,77,204,1) 93.6% );
  color: white;
  font-family: Tinos;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

p
{
  font-family: Sriracha;
  width: 75%;
  padding-left: 100px;
  font-size: 20px;
}
